<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".EldarWalletApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.payWithCard.PayWithCardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.main.scanQR.ScanResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.main.generateQR.GenerateQRActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.main.scanQR.ScanActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.main.newCard.NewCardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.start.SignUpActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.start.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>